@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Resume section -->
<section id="resume">
	<div class="resume-background">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-sm-offset-3 resumeWrapper">
					<!-- Section Title -->
					<div class="section-title">
						<h2><span>04</span>Resume</h2>
					</div><!-- end Section Title -->
					<!-- Resume box 1 -->
					<div class="resume-box">
						<div>
							<i class="icon_pencil"></i>
						</div>
						<div>
							<h3>Academy of Art University</h3>
							<span>2015 - Present</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<!-- Resume box 2 -->
					<div class="resume-box">
						<div>
							<i class="icon_toolbox_alt"></i>
						</div>
						<div>
							<h3>IT Technical Institute</h3>
							<span>2014 - 2015</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<!-- Resume box 3 -->
					<div class="resume-box">
						<div>
							<i class="icon_genius"></i>
						</div>
						<div>
							<h3>Web Design School</h3>
							<span>2013 - 2014</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<!-- Resume box 4 -->
					<div class="resume-box">
						<div>
							<i class="icon_contacts_alt"></i>
						</div>
						<div>
							<h3>Bachelor Degree</h3>
							<span>2010 - 2013</span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<!-- end Resume box 4 -->
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div>
</section>
<!-- end Resume section -->
