@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- Portfolio section -->
<section id="portfolio">
	<div class="portfolio-background">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-sm-offset-3 portfolioWrapper">
					<!-- Section Title -->
					<div class="section-title">
						<h2 class="pull-left"><span>03</span>Portfolio</h2>
						<div class="portfolio-filter pull-right">
							<ul>
								<li class="btn btn-default filter active" data-filter="all">Show All</li>
								<!--
								-->
								<li class="btn btn-default filter" data-filter=".category-1">Branding</li>
								<!--
								-->
								<li class="btn btn-default filter" data-filter=".category-2">Websites</li>
							</ul>
						</div>
					</div><!-- end Section Title -->
					<div class="row">
						<div id="mix-container">
							<!-- Image 1 -->
							<div class="col-xs-12 col-sm-4 mix category-1">
								<div class="imageWrapper">
									<a class="lightbox" href="#popup-1">
										<img src="images/portfolio-1.jpg" alt=""><!-- Image 1 source -->
										<div class="imageHover">
											<div>
												<h3>Project Title</h3>
												<span>Branding</span>
											</div>
										</div>
									</a>
									<!-- popup content -->
									<div id="popup-1" class="mfp-hide popup-box">
										<img src="images/portfolio-1.jpg" alt=""><!-- Image 1 source -->
										<div>
											<h3>Project Title</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
										</div>
									</div>
									<!-- end popup content -->
								</div>
							</div>
							<!-- Image 2 -->
							<div class="col-xs-12 col-sm-4 mix category-2">
								<div class="imageWrapper">
									<a class="lightbox" href="#popup-2">
										<img src="images/portfolio-2.jpg" alt=""><!-- Image 2 source -->
										<div class="imageHover">
											<div>
												<h3>Project Title</h3>
												<span>Websites</span>
											</div>
										</div>
									</a>
									<!-- popup content -->
									<div id="popup-2" class="mfp-hide popup-box">
										<img src="images/portfolio-2.jpg" alt=""><!-- Image 2 source -->
										<div>
											<h3>Project Title</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
										</div>
									</div>
									<!-- end popup content -->
								</div>
							</div>
							<!-- Image 3 -->
							<div class="col-xs-12 col-sm-4 mix category-1">
								<div class="imageWrapper">
									<a class="lightbox" href="#popup-3">
										<img src="images/portfolio-3.jpg" alt=""><!-- Image 3 source -->
										<div class="imageHover">
											<div>
												<h3>Project Title</h3>
												<span>Branding</span>
											</div>
										</div>
									</a>
									<!-- popup content -->
									<div id="popup-3" class="mfp-hide popup-box">
										<img src="images/portfolio-3.jpg" alt=""><!-- Image 3 source -->
										<div>
											<h3>Project Title</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
										</div>
									</div>
									<!-- end popup content -->
								</div>
							</div>
							<!-- Image 4 -->
							<div class="col-xs-12 col-sm-4 mix category-2">
								<div class="imageWrapper">
									<a class="lightbox" href="#popup-4">
										<img src="images/portfolio-4.jpg" alt=""><!-- Image 4 source -->
										<div class="imageHover">
											<div>
												<h3>Project Title</h3>
												<span>Websites</span>
											</div>
										</div>
									</a>
									<!-- popup content -->
									<div id="popup-4" class="mfp-hide popup-box">
										<img src="images/portfolio-4.jpg" alt=""><!-- Image 4 source -->
										<div>
											<h3>Project Title</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
										</div>
									</div>
									<!-- end popup content -->
								</div>
							</div>
							<!-- Image 5 -->
							<div class="col-xs-12 col-sm-4 mix category-2">
								<div class="imageWrapper">
									<a class="lightbox" href="#popup-5">
										<img src="images/portfolio-5.jpg" alt=""><!-- Image 2 source -->
										<div class="imageHover">
											<div>
												<h3>Project Title</h3>
												<span>Websites</span>
											</div>
										</div>
									</a>
									<!-- popup content -->
									<div id="popup-5" class="mfp-hide popup-box">
										<img src="images/portfolio-5.jpg" alt=""><!-- Image 2 source -->
										<div>
											<h3>Project Title</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
										</div>
									</div>
									<!-- end popup content -->
								</div>
							</div>
							<!-- Image 6 -->
							<div class="col-xs-12 col-sm-4 mix category-1">
								<div class="imageWrapper">
									<a class="lightbox" href="#popup-6">
										<img src="images/portfolio-6.jpg" alt=""><!-- Image 3 source -->
										<div class="imageHover">
											<div>
												<h3>Project Title</h3>
												<span>Branding</span>
											</div>
										</div>
									</a>
									<!-- popup content -->
									<div id="popup-6" class="mfp-hide popup-box">
										<img src="images/portfolio-6.jpg" alt=""><!-- Image 3 source -->
										<div>
											<h3>Project Title</h3>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
										</div>
									</div>
									<!-- end popup content -->
								</div>
							</div>
						</div>
					</div><!-- end Inner row -->
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div>
</section>
<!-- end Portfolio section -->
