@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Services section -->
<section id="services">
	<div class="services-background">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-sm-offset-3 servicesWrapper">
					<!-- Section Title -->
					<div class="section-title">
						<h2><span>02</span>Services</h2>
					</div><!-- end Section Title -->
					<!-- Service box 1 -->
					<div class="service-box">
						<div>
							<i class="icon icon_globe"></i>
						</div>
						<div>
							<h3>Web Development</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					<!-- Service box 2 -->
					<div class="service-box">
						<div>
							<i class="icon icon_pens"></i>
						</div>
						<div>
							<h3>UX and UI Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					<!-- Service box 3 -->
					<div class="service-box">
						<div>
							<i class="icon icon_easel"></i>
						</div>
						<div>
							<h3>Online Marketing</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					<!-- Service box 4 -->
					<div class="service-box">
						<div>
							<i class="icon icon_globe-2"></i>
						</div>
						<div>
							<h3>SEO Optimization</h3>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
					<!-- end Service box 4 -->
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div>
</section>
<!-- end Services section -->
