@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Testimonial section -->
<section id="testimonial">
	<div class="testimonial-background">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-sm-offset-3 testimonialWrapper">
					<!-- Section Title -->
					<div class="section-title">
						<h2><span>06</span>Testimonial</h2>
					</div><!-- end Section Title -->
					<div class="testimonial-box">
						<div id="testimonialSlider" class="owl-carousel">
							<!-- 1 -->
							<div class="testimonial">
								<div class="testimonial_content">
									<div class="testimonial_content_inner">
										<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
									</div>
								</div>
								<div class="testimonial_author clearfix">
									<img alt="" src="images/client-1.jpg" class="testimonial_photo">
									<h3 class="testimonial_name">Robert Green</h3>
									<div class="testimonial_position">Businessman</div>
								</div>
							</div>
							<!-- 2 -->
							<div class="testimonial">
								<div class="testimonial_content">
									<div class="testimonial_content_inner">
										<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
									</div>
								</div>
								<div class="testimonial_author clearfix">
									<img alt="" src="images/client-2.jpg" class="testimonial_photo">
									<h3 class="testimonial_name">Robert Green</h3>
									<div class="testimonial_position">Businessman</div>
								</div>
							</div>
							<!-- 3 -->
							<div class="testimonial">
								<div class="testimonial_content">
									<div class="testimonial_content_inner">
										<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
									</div>
								</div>
								<div class="testimonial_author clearfix">
									<img alt="" src="images/client-3.jpg" class="testimonial_photo">
									<h3 class="testimonial_name">Robert Green</h3>
									<div class="testimonial_position">Businessman</div>
								</div>
							</div>
							<!-- end 3 -->
						</div>
					</div>
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div>
</section>
<!-- end Testimonial section -->
