@model List<Skill>;

<!-- About section -->
<section id="about">
	<div class="about-background">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-sm-offset-3 aboutWrapper">
					<!-- Section Title -->
					<div class="nav-extra hidden-xs">
						<!-- Button Contact Modal -->
						<a data-target="#callmeModal" data-toggle="modal" href="#" class="btn btn-default">
							<span aria-hidden="true" class="icon_phone"></span>
						</a>
						<!-- Button 'Hire me' -->
						<a href="#contact" class="btn btn-info">Hire me now</a>
					</div>
					<div class="section-title">
						<h2><span>01</span>About me</h2>
					</div><!-- end Section Title -->
					<h1>Hello, I am <strong>Johnny Smith</strong> <br>Designer and <span class="bg-color">Front-end Developer</span></h1>
					<p>Ultricies nisi voluptatem, illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque latu dantium, totam rem aperiam, eaque ipsa quae ab illo tempor dignissim at. </p>

					<div class="skills">
						<!-- Skill All -->
						@foreach (Skill s in Model)
						{
							<div class="skill-outer">
								<h4>@s.Title<span>@s.Proficiency%</span></h4>
								<div class="progress progress-striped active">
									<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: @s.Proficiency%;">
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div>
</section>
<!-- end About section -->
