@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="right-br">
    <div class="fixed-left-contact">
        <p>+123&nbsp;456&nbsp;7890</p>
    </div>
</div>