@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Sidebar -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 sidebar">
            <div class="col-sm-2 sidebarWrapper">
                <!-- Avatar -->
                <img class="user-pic" src="images/avatar.jpg" alt="">
                <div class="signature">
                    <img class="img-responsive" alt="signature" src="images/signature.png">
                </div>
                <!-- Menu -->
                <div class="menu">
                    <div class="toggle-btn">
                        <span class="lines"></span>
                    </div>
                    <ul class="nav">
                        <li class="active">
                            <a href="#about">درباره من</a>
                        </li>
                        <li>
                            <a href="#services">خدمات</a>
                        </li>
                        <li>
                            <a href="#portfolio">پورتفولیو</a>
                        </li>
                        <li>
                            <a href="#resume">رزومه</a>
                        </li>
                        <li>
                            <a href="#blog">بلاگ</a>
                        </li>
                        <li>
                            <a href="#testimonial">رضایت ها</a>
                        </li>
                        <li>
                            <a href="#contact">ارتباط با من</a>
                        </li>
                    </ul>
                </div><!-- end Menu -->
            </div>
        </div>
    </div><!-- end row -->
</div><!-- end container -->
<!-- end Sidebar -->
